*/target/** 
bin/
tmp/
target/
.settings/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

fca4j-core-natif/src/main/native/build/
